<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="{{ "/js/bootstrap/collapse.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/bootstrap/dropdown.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/bootstrap/affix.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/bootstrap/scrollspy.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/highlight.pack.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript">hljs.initHighlightingOnLoad();</script>